<?xml version="1.0" encoding="UTF-8"?>
<web-app antiJARLocking="true" version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee">
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>servlets.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Searchpeople</servlet-name>
        <servlet-class>servlets.Searchpeople</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>servlets.Register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MeassageSend</servlet-name>
        <servlet-class>servlets.MeassageSend</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getPhoto</servlet-name>
        <servlet-class>servlets.getPhoto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>downloadFile</servlet-name>
        <servlet-class>servlets.downloadFile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>forgetPassword</servlet-name>
        <servlet-class>servlets.forgetPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editProfile</servlet-name>
        <servlet-class>servlets.editProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>changePhoto</servlet-name>
        <servlet-class>servlets.changePhoto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>changePassword</servlet-name>
        <servlet-class>servlets.changePassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>servlets.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>find</servlet-name>
        <servlet-class>servlets.find</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Searchpeople</servlet-name>
        <url-pattern>/SearchProcess</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MeassageSend</servlet-name>
        <url-pattern>/sendMessage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getPhoto</servlet-name>
        <url-pattern>/getPhoto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>downloadFile</servlet-name>
        <url-pattern>/downloadFile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>forgetPassword</servlet-name>
        <url-pattern>/forgetPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editProfile</servlet-name>
        <url-pattern>/editProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>changePhoto</servlet-name>
        <url-pattern>/changePhoto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>changePassword</servlet-name>
        <url-pattern>/changePassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>find</servlet-name>
        <url-pattern>/find</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>home.jsp</welcome-file>
    </welcome-file-list>
</web-app>
